body {
  background: url(CookieAssets/CCBackground.png);
  box-sizing: border-box;
}

.cookiecontainer {
  display: grid;
  grid-template-columns: repeat(4fr);
  position: relative;
  margin-top: 5%;

  padding-left: 120px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-image: url(WoodPole.png) 30 repeat;
}

.cookiecontainer::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  width: 20px;
  bottom: 0;
  background: url(WoodPole.png) repeat-y;
}

.cookieclicker {
  grid-column: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* COOOKIE STYLING */
.cookie {
  width: 220px;
  aspect-ratio: 1 / 1;
  padding-bottom: 20px;
}

.cookie:hover {
  cursor: pointer;
}

.cookie:active {
  scale: 1.008;
}

.counter {
  font-size: 32px;
}

.counterps {
  font-size: 16px;
}
.cookiepersecond {
  margin: 0;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 520px;

  padding: 10px;
  margin-left: -40%;
  font-size: 24px;
}
