body {
  place-content: center;
  margin: 0;
  display: grid;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  background: url("CookieAssets/CCBackground.png") center / 100% auto fixed
    no-repeat;
  box-sizing: border-box;
  inset: 0;
}

.title {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 1540px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title h2 {
  font-size: 48px;
}

.cookiecontainer {
  display: grid;
  width: 95%;
  height: 580px;
  max-width: 100%;
  grid-template-columns: 550px 600px 300px;
  position: relative;

  overflow: hidden;

  margin-left: 15px;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-image: url(WoodP-H.png) 30 repeat;
}

.cookie {
  width: 220px;
  aspect-ratio: 1 / 1;
  padding-bottom: 20px;
  margin-left: 29%;
  position: relative;
  z-index: 1;
}

.bakery {
  width: 300px;
  padding: 5px;
  border-radius: 30px;

  font-size: 32px;

  margin-left: 42%;
  border: none;
  text-align: center;
  background-color: transparent;

  color: white;
  margin-bottom: 2%;
}

.CCcontainer {
  width: 240px;
  padding: 20px;
  border-radius: 50%;
  margin-left: 30%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CCcontainer::before {
  content: "";
  position: absolute;
  inset: 0;
}

.cookieclicker {
  grid-column: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* COOOKIE STYLING */
.cookie {
  width: 350px;
  aspect-ratio: 1 / 1;
  padding-bottom: 20px;
}

.cookie:hover {
  cursor: pointer;
}

.cookie:active {
  scale: 0.95;
}

.counter {
  font-size: 38px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.counterps {
  font-size: 16px;
}
.cookiepersecond {
  margin: 0;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 550px;

  padding: 10px;

  font-size: 24px;
}
