.farms {
  display: flex;
  justify-content: center;

  padding-left: 120px;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-image: url(WoodPole.png) 30 repeat;
}
