.farms > * {
  position: relative;
  z-index: 1;
}

.farms {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  padding-left: 120px;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-image: url("WoodP-H.png") 30 repeat;
}
