/*-------MILK PARAGRAPH -----*/
.store {
  grid-column: 3;
}

.storeOverhead {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;

  border-bottom: 20px solid transparent;

  border-image: url("WoodP-V.png") 20 repeat;
}

.storeOverhead h2 {
  font-size: 32px;
}

.buynsell {
  border: none;
  background-color: transparent;
  color: white;
  width: 40px;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}

.buynsell:focus {
  text-shadow:
    1px 1px 10px #fff,
    1px 1px 10px #ccc;
}

.store p:hover {
  cursor: pointer;
}

.store img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
