/*-------MILK PARAGRAPH -----*/
.store {
  grid-column: 3;
  overflow-y: auto;
  overflow-x: hidden;
}

.storeOverhead {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;

  flex-shrink: 0;

  justify-content: center;

  border-bottom: 20px solid transparent;

  border-image: url(CookieAssets/Wood/WoodP-H.png) 20 repeat;
}

.storeOverhead h2 {
  font-size: 32px;
}

.buynsell {
  border: none;
  background-color: transparent;
  color: white;
  width: 40px;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.buynsell:focus {
  text-shadow:
    1px 1px 10px #fff,
    1px 1px 10px #ccc;
}

.store p:hover {
  cursor: pointer;
}

.store img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.Increases {
  width: 100%;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
  gap: 3px;

  border-image: url(../CookieAssets/Wood/WoodP-H.png) 20 repeat;

  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
}
