.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.userform {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 2%;
}

.userform h3 {
  gap: -20px;
}

.users {
  display: flex;
  gap: 10px;
}

.new-user {
  display: none;
}

.user-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
