.exit {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 2%;
  border: none;
  color: white;
  border-radius: 16%;
  padding: 4px;
  cursor: pointer;
}

.exit:hover {
  scale: 1.02;
  border: solid 2px white;
}

.page {
  background-image: url(../CookieAssets/DarkenedWood.png);
  overflow-y: auto;
  flex-grow: 0;
}

.stats {
  font-size: 42px;
  text-shadow: 0 0 10px #fff;
  padding-bottom: 5%;
}

.overhead {
  font-size: 42px;
  text-shadow: 0 0 10px #fff;
}
