.stats {
  font-size: 38px;
  text-shadow: 0 0 10px #fff;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.overhead {
  font-size: 32px;
  text-shadow: 0 0 10px #fff;
}

.stat {
  font-size: 18px;
}

.page {
  background-image: url(../CookieAssets/Wood/DarkenedWood.png);
  overflow-y: auto;
  flex-grow: 0;
}

.exit {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;

  top: 32%;
  right: 26%;
  border: none;
  color: white;
  border-radius: 16%;
  padding: 0 12px 0 12px;
  cursor: pointer;
  text-align: center;
}

.exit:hover {
  border: solid 1px rgb(186, 183, 183);
  background-color: rgba(0, 0, 0, 1);
  scale: 1.1;
}
